body {
    font-size: 14px;
    font-weight: 400;
}

.page-header {
    background-color: #33363b;
    color: #eaeaea;
    border: 0px #33363b;;
    margin: 0px;
    padding: 10px 5px 10px 5px;
}

.business {
    font-size: 18px;
}

.phone {
    text-align: right;
}

.navbar-default .navbar-brand {
    color: #376db4;
}

.navbar-default {
    background-color: #eaeaea;
    padding: 0 15px 0 0;
    margin: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #376db4;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #376db4;
    border-radius: 5px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #376db4;
    border-radius: 5px;
}

.navbar-default .navbar-toggle {
    border-color: #376db4;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #376db4;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #376db4;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.affix.navbar-default {
    background: #000000;
}

@media (max-width: 767px) {

    .business {
        text-align: center;
    }

    .phone {
        text-align: center;
    }

    .navbar-default {
        font-size: 14px;
        padding: 0 10px 0 10px;
    }

    .navbar-default .navbar-brand {
        font-size: 18px;
    }    
}